@charset "UTF-8";

/* main.css */

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#header{
	width: 1000px;
	padding: 10px 0;
	margin: 0 auto;
}

#menuList{
	display: flex;
	list-style: none;
	align-items: center;
	justify-content: space-between;
}

.menu{
	cursor: pointer;
	font-size: 20px;
	text-align: center;
	width: 20%;
}

.menu:hover{
	color: orange;
}

.active{
	
}

#main{
	width: 1000px;
	margin: 20px auto;
}

#imgBoard{
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

#footer{
	width: 1000px;
	margin: 0 auto;
}

#loginBox{
	background: pink;
	border-radius: 10px;
	padding: 7px 15px;
	position: fixed;
	top: 200px;
	left: 20px;
}

#loginBox a{
	color: white;
	text-decoration: none;
	font-size: 18px;
	font-weight: 800;
}